
.form-input{
    font-weight: bold;
    /* width: 850px; */
    height: 40px;
}
.form-input-date{
    font-weight: bold;
    height: 40px;
}
.button-hoan-tat{
    display: flex;
    justify-content: right;
    margin-right: 30px;
    margin-top: 50px;
}